#banner{
    display: flex;
    margin: 25px 100px;/* borde externo*/
    padding: 90px 80px;/* borde interno*/
    background: linear-gradient(313.18deg, #EE9AE5 3.28%, #5961F9 97.04%);/*Para dar color de fondo al banner y q que quede degradado*/
    border-radius: 48px 48px 300px 48px;/* borde redondos al banner*/
}

h1{/* estilo para la etiqueta h1 del banner*/
    margin: 0px;
    font-family: "Jost";/*tipo de fuente de letra*/
    font-size: 50px;/*tamaño letra*/
    font-weight: 600;/*especifica el peso o grueso de la letra*/
    color: #fff;
    line-height: 70px;/*controla el espacio entre líneas base*/
    letter-spacing: -0.64px;/*modificar el espacio entre las letras, aproximándolas o separándolas entre sí*/
}

#banner img{
   width: 490px;/*ancho imagen*/
   height: 290px;/*alto imagen*/
}

#banner p{
    margin: 25px 0px;/*borde externo*/
    color: #fff;
}

.button__white{
    padding: 12px 35px;/*borde interno*/
    background-color: transparent;/*color fondo*/
    color: white;
    border: 1px solid #fff; /*borde linea*/
}