/* ESTILOS GLOBALES*/
/* Estilos globales para modificar varios elementos en general, si ya se quiere modificar alguna etiqueta en un contenedor especifico se llama ese contenedor y su id o clase y luego la etiqueta para modificar especificamente ese contenedor, ese div, section o etiqueta*/
body{
    margin: 0px;
}

a{
    font-family: "Jost";/* para modificar a modo general las etiquetas del archivo html*/

}
button{
    padding: 12px 25px; /* 12px de borde interno a los lados y 25px arriba y abajo*/
    font-family: "Jost";
    font-weight: bold;
    border-radius: 10px;/*borde redondeado*/
    cursor: pointer;/*cambia forma de cursos cuando se posa en cierto elemento*/
}

.button__orange{
    margin-right: 10px;/* borde externo derecho para separar el boton del elemento a la derecha un poco*/
    background-color: #fd909e;
    color: #fff;
    border: none; /*borde linea*/
}

p{
    font-family: "Jost";
    font-size: 13px;
    font-weight: 300;/* grosor de letra*/
}

h2{
    margin: 5px;
    color:  #454868;
    font-family: "Jost";
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.64px;/*modificar el espacio entre las letras, aproximándolas o separándolas entre sí*/
}


/* ESTILOS ESPECIFICOS PARA CADA CONTNEEDOR*/
/* ESTILOS HEADER*/
header{
    display: flex;/* para acomodar elementos en filas o columnas*/
    margin: 0 100px; /* para el borde externo a los lados*/
    justify-content: space-between;/* separar elementos lo mas q se pueda*/
    align-items: center;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav nav ul{
    display: flex;
    gap: 45px;/* para el espacio entre elementos*/
    list-style: none;/* para modificar las viñetas de la lista*/
}
.header__nav nav ul a{
    text-decoration: none;/* para quitar la linea subrayada solo a este elemento*/
    color: #454868;
}

.header__settings{
    display: flex;
    gap: 70PX;
    align-items: center;/* para alinear verticalmente para q queden centrados*/
}

.header__settings div{
    display: flex;
    gap: 10PX;
    align-items: center;/* para alinear verticalmente al centro*/
    font-family: "Jost";/* para tipo de letra*/
    font-size: 15px;/* para tamaño de letra*/
    font-weight: 400;/* para grosor de letra*/
} 

.header__settings button{
    background-color: transparent;/* para de fondo de boton*/
    border: 1px solid #45486854; 
}

/* ESTILOS BANNER*/
#banner{
    display: flex;
    margin: 25px 100px;/* borde externo*/
    padding: 90px 80px;/* borde interno*/
    background: linear-gradient(313.18deg, #EE9AE5 3.28%, #5961F9 97.04%);/*Para dar color de fondo al banner y q que quede degradado*/
    border-radius: 48px 48px 300px 48px;/* borde redondos al banner*/
}

h1{/* estilo para la etiqueta h1 del banner*/
    margin: 0px;
    font-family: "Jost";
    font-size: 50px;
    font-weight: 600;/*especifica el peso o grueso de la letra*/
    color: #fff;
    line-height: 70px;/*controla el espacio entre líneas base*/
    letter-spacing: -0.64px;/*modificar el espacio entre las letras, aproximándolas o separándolas entre sí*/
}

#banner img{
   width: 490px;
   height: 290px;
}

#banner p{
    margin: 25px 0px;
    color: #fff;
}

.button__white{
    padding: 12px 35px;
    background-color: transparent;
    color: white;
    border: 1px solid #fff; 
}


/* ESTILOS SECTION-1*/
#section-1{
    display: flex;
    justify-content: space-between;
    margin: 25px 100px;
    padding: 20px 80px;
}

.section-1__info{
    width: 30%;/*ocupa el 30% del section-1 */
}



.section-1__info p{
    color: #454868;
    text-align: justify;
}

.section-1__card{
    display: flex;
    flex-direction: column;/*alineacion de columna*/
    justify-content: space-between;/*para separar elementos lo mas q se pueda*/
    align-items: center;/*para centrarlo*/
    width: min-content;


    height: 195px;
    padding: 30px;
    text-align: center;
    border-radius: 48px;
    box-shadow: 0px 10px 50px #45486833;
}

.section-1__card h3{
    font-family: "Jost";
    color: #454868;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.64px;
    text-align: center; 
}


/* ESTILOS SECTION-2*/
#section-2{
    padding: 20px 180px;
    background-color: #ed80fd26;
}

.section-2__info{
    display: flex;
    margin: 70px 0px;
    gap: 35px;
}

.section-2__info h2{
    font-size: 38px;
    line-height: 40px;
}

.section-2__info img{
    width: 450px;
    height: 300px;
}

.section-2__sub-pink{
    color: #ed80fd;
}

/* ESTILOS FOOTER*/
#footer{
    display: flex;
    justify-content: center;
    align-items: center;/*alinea verticalmente*/

    margin-top: 80px;/*margen externo solo arriba*/
    padding: 20px 100px;/*borde interno arriba y abajo de 20px y a los lados de 100px*/
    background-color: #010851;
    color: #fff;

}

.footer__info{
    width: 30%;
}