/* Estilos globales para modificar varios elementos en general, si ya se quiere modificar alguna etiqueta en un contenedor especifico se llama ese contenedor y su id o clase y luego la etiqueta para modificar especificamente ese contenedor, ese div, section o etiqueta*/
body{
    margin: 0px;/* borde externo*/
}

a{
    font-family: "Jost";/* para modificar a modo general las etiquetas del archivo html*/

}
button{
    padding: 12px 25px; /* 12px de borde interno a los lados y 25px arriba y abajo*/
    font-family: "Jost";
    font-weight: bold;/* grosor de letra*/
    border-radius: 10px;/* borde redondeado*/
    cursor: pointer;/* cambia la forma del cursor*/
}

.button__orange{
    margin-right: 10px;/* borde externo derecho para separar el boton del elemento a la derecha un poco*/
    background-color: #fd909e;
    color: #fff;
    border: none; 
}

p{
    font-family: "Jost";
    font-size: 13px;
    font-weight: 300;/* grosor de letra*/
}

h2{
    margin: 5px;/*borde externo*/
    color:  #454868;
    font-family: "Jost";
    font-size: 48px;
    line-height: 55px;/*controla el espacio entre líneas base*/
    letter-spacing: -0.64px;/*modificar el espacio entre las letras, aproximándolas o separándolas entre sí*/
}
