table {
    display: flex;
    justify-content: space-evenly;
    width: 57%;
    margin: auto;
    background-color: yellow;
    border-bottom: black 1px dashed;
    border-top: black 1px dashed;
    border-left: black 1px dashed;

}

th {
    text-align: center;
    padding: 10px;
    color: red;
    border-bottom: black 1px dashed;
    font-style: italic;
}

.title{
    border-right: black 1px dashed;
}

td {
    text-align: left;
    border: 1px;
    border-bottom: black 1px dashed;
    border-right: black 1px  dashed;
}

.text__2{
    border-bottom: none;
}